{% extends "registration/base1-fullscreen.html" %}

{% block title %} GRC Software {% endblock %}

{% block content %}   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
{#                        <i class="feather icon-unlock auth-icon"></i>#}
                        <img src="/static/img/logo/digikala-logo-01.png" width="200" height="50" >
                    </div>
                    <h3 class="mb-4">
                        DigiKala BCM Software
                    </h3>

                    <span class="mb-0 text-muted">
                        Login
                    </span>

                    <br />
                    <br />
                   <form method="post">
                       {% csrf_token %}
                       <input name="username">
                       <input name="password">
                       <button type="submit">asd</button>
                   </form>

            </div>
          </div>
          <div class="row mt-3">

<!--
            <        <p class="mb-0 text-muted">Don’t have an account? <a href="/register.html" >Signup</a></p>
                    -->

        </div>
    </div>

{% endblock content %}
